.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255, 208, 0);
    height: 10vh;
    font-size: 2vw;
    font-weight: 600;
    
    
}

/*   Responsive code*/

@media only screen and (max-width: 600px) {
    /* Your styles for extra small devices go here */


  }